:root { 
--blue_gray_50:#edeef0; 
--light_blue_300:#4bc8f1; 
--blue_gray_100_01:#d9d9d9; 
--red_300:#d37979; 
--black_900_3f:#0000003f; 
--gray_50:#fafafa; 
--light_blue_900:#0c5dad; 
--yellow_900:#f48a31; 
--gray_200_01:#eaeaea; 
--deep_orange_300:#ff9371; 
--blue_gray_800:#334d5e; 
--blue_gray_700:#3a556a; 
--pink_400:#bc4772; 
--black_900_26:#00000026; 
--gray_600:#757575; 
--gray_400:#bdbdbd; 
--blue_gray_200:#b0c4da; 
--blue_gray_100:#d3d3d3; 
--gray_500:#949393; 
--gray_600_01:#7c7c7c; 
--orange_A200:#f9a242; 
--gray_800:#4d1354; 
--blue_500:#18a0fb; 
--blue_gray_600:#4c6d86; 
--blue_gray_500:#617e95; 
--blue_gray_600_01:#41667d; 
--amber_300:#ffcc5c; 
--teal_50:#d5e5f1; 
--gray_200:#e7e7e7; 
--gray_300:#e1e3e8; 
--gray_100:#f5f5f5; 
--cyan_300:#3ebedb; 
--gray_100_01:#f6f6f6; 
--white_A700:#ffffff; 
}